<a class="content" href="#">

  <div class="notification-item">
    <h4 class="item-title"><%= notification.notice_type == "event" ? "#{notification.notified_by.email} created #{notification.notice_type}."  : "" %></h4>
    <!--<p class="item-info">Marketing 101, Video Assignment</p>-->
    <!--= link_to "#{notification.notified_by.user_name} has #{notification.notice_type}ed on your post", post_path(notification.post)-->
  </div>

</a>